<div class="row details_content color_white">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details_column">
    <article class="article_main">
      <h2>Green Home</h2>

      <section>
        <app-carousel [imageList]="imageList"></app-carousel>
      </section>

      <section>
        <p class="details_content">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five.
        </p>
      </section>
    </article>
  </div>
</div>
