<!-- Nav tabs -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
     routerLink="/">
    <img src="assets/images/main-icon.png"
         class="main_icon"
         alt="" />
    Green Home</a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarNavDropdown"
       appDropdown>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/home"
           routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item dropdown"
          *ngIf="isAuthenticated">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false"
           routerLinkActive="active">
          Products
        </a>
        <div class="dropdown-menu basic_dropdown"
             aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
             routerLink="/products/product-list">All Products</a>
          <a class="dropdown-item"
             routerLink="/products/product-add">Add Product</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           *ngIf="!isAuthenticated"
           routerLink="/products"
           routerLinkActive="active">
          Products
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
           routerLink="/aboutus"
           routerLinkActive="active">
          About Us
        </a>
      </li>
      <li class="nav-item user_menu">
        <a class="nav-link"
           *ngIf="!isAuthenticated"
           routerLinkActive="active"
           [routerLink]="['/login', {newUser: false}]">Login</a>
      </li>
      <li class="nav-item user_menu">
        <a class="nav-link"
           *ngIf="!isAuthenticated"
           routerLinkActive="active"
           [routerLink]="['/signup', {newUser: true}]">Sign Up</a>
      </li>
      <li class="nav-item user_menu">
        <a class="nav-link"
           *ngIf="isAuthenticated"
           routerLinkActive="active"
           (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item user_menu">
        <a class="nav-link">Help</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto user_nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav_user_icon"
           id="navbarDropdownMenuLink"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>

        <div class="dropdown-menu dropdown-menu-right basic_dropdown"
             aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
             *ngIf="!isAuthenticated"
             (click)="navigateToUser(false)">Login</a>

          <a class="dropdown-item"
             *ngIf="!isAuthenticated"
             (click)="navigateToUser(true)">Sign Up</a>
          <a class="dropdown-item"
             *ngIf="isAuthenticated"
             (click)="onLogout()">Logout</a>

          <a class="dropdown-item">Help</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
