<div class="row ">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 login_form">

    <h3>Login</h3>

    <form [formGroup]="loginForm">

      <div class="form-group">

        <label for="email">Email address</label>

        <input type="email"
               class="form-control input_transparent"
               id="email"
               formControlName="email"
               placeholder="Enter email"
               autocomplete="off">

        <small class="form-text text-muted"
               *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">

          Please enter your email address

        </small>

      </div>

      <div class="form-group">

        <label for="password">Password</label>

        <input type="password"
               class="form-control input_transparent"
               id="password"
               formControlName="password"
               placeholder="Enter password"
               autocomplete="off">

        <small class="form-text text-muted"
               *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">

          Please enter your password

        </small>

      </div>

      <button type="button"
              class="btn primary_button"
              [disabled]="!loginForm.valid">LOGIN</button>

    </form>

  </div>

</div>
